[core]
	autocrlf = input
	editor = nvim
[commit]
	template= ~/configs/global/git/commit-msg-template
	status= false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[user]
	email = darlynvictoriano@gmail.com
