[core]
	autocrlf = input
	editor = nvim
[commit]
	template= $HOME/configs/global/tools/commit-msg-template
	status= false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
	allowedSignersFile = $HOME/configs/local/allowed_signers
[commit]
	gpgsign = true
[user]
	email = darlynvictoriano@gmail.com
[http]
	postBuffer = 524288000
	maxRequestBuffer = 1048576000
[merge]
	tool = vimdiff
